<!doctype html>
<html>

<head> Madlibs game</head>

<body>

<h1> Madlibs </h1>

<!-- edit form action if needed -->
<form action="/madlib"> 

    <div>Type a person</div>
    <input type = "text" name="person">
    <div></div>
    <label for="color">Color: </label>
    <select name="color" id="color">
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Yellow">Yellow</option>
    </select>
    <div> Noun</div></div>
    <input type = "text" name="noun">
    <div> Adjective</div>
    <input type = "text" name="adjective">
    <div></div>
    <input type = "submit">
    


</form>

</body>


</html>