<!doctype html>
<html>

<head> Madlibs game</head>

<body>

<h1> Madlibs </h1>

<!-- edit form action if needed -->
<form action="/madlib"> 

    <div>Type a person</div>
    <input type = "text" name="person">
    <div></div>
    <label for="color">Color: </label>
    <select name="color" id="color">
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="yellow">yellow</option>
    </select>
    <div> Noun</div></div>
    <input type = "text" name="noun">

    <div> Adjective</div>
    <input type = "text" name="adjective">

    <div></div>

    <input type = "checkbox" name="verb1" value="hopped">
    <label for="verb">hopped</label>
    
    <input type  = "checkbox" name= "verb2" value="jumped">
    <label for="verb">jumped</label>

    <input type = "submit">
    


</form>

</body>


</html>